.deps/
.libs/
Makefile
Makefile.in
capture_client.o
impulse_grabber.o
inprocess.la
inprocess.lo
intime.la
intime.lo
jack_impulse_grabber
jack_latent_client
jack_metro
jack_midiseq
jack_midisine
jack_rec
jack_server_control
jack_showtime
jack_simple_client
jack_simple_session_client
jack_transport_client
latent_client.o
metro.o
midiseq.o
midisine.o
server_control.o
showtime.o
simple_client.o
simple_session_client.o
transport_client.o
